[Desktop Entry]
Name=Emojione Picker Development
Comment=Emoji Picker for Ubuntu
Icon=emojione-picker-dev
Exec=emojione-picker-dev
Terminal=false
Type=Application
NoDisplay=false
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Delay=10


Name[de_DE.utf8]=Emojione Picker Development
